* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.square {

    height: 5rem;
    width: 5rem;
    border-radius: 0.25rem;
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 90%);

    display: inline-block;
    margin: 0.25rem;

    position: relative;

    &:hover {
        background-color: hsl(0, 0%, 95%);
        cursor: pointer;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}