* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.square {

    height: 5rem;
    width: 5rem;
    border-radius: 0.25rem;
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 90%);

    display: inline-block;
    text-align: center;
    margin: 0.25rem;

    &:hover {
        background-color: hsl(0, 0%, 95%);
        cursor: pointer;
    }

    p {
        height: 100%;
        display: grid;
        place-items: center;
        /* background-color: aqua; */
    }
}